<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.vivec.bookastudent" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/face"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >

        <activity
            android:name=".Code.Activities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Code.Activities.LogReg"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme2"
            >
        </activity>

        <activity
            android:name=".Code.Activities.Log"
            android:screenOrientation="portrait"
            android:label="Login"
            android:theme="@style/CustomTheme2"
            android:parentActivityName=".Code.Activities.LogReg"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.vivec.bookastudent.Code.Activities.LogReg" />
        </activity>

        <activity
            android:name=".Code.Activities.Reg"
            android:screenOrientation="portrait"
            android:label="Registration"
            android:theme="@style/CustomTheme2"
            android:parentActivityName=".Code.Activities.LogReg"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.vivec.bookastudent.Code.Activities.LogReg" />
        </activity>

        <activity
            android:name=".Code.Activities.NewMain"
            android:screenOrientation="portrait"
            android:label="Book a Student"
            android:theme="@style/CustomTheme2">
        </activity>

    </application>

</manifest>
